@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR&family=Patua+One&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gothic+A1:wght@400;500;600;700;800;900&family=Noto+Sans+KR&family=Patua+One&family=Roboto:wght@400;500;700&display=swap');
// 헤더
@font-face {
  font-family: 'NanumSquareB';
  font-weight: 700;
  src: url('./assets/font/NanumSquareB.ttf');
}

// 본문
@font-face {
  font-family: 'NanumSquareNeo-bRg';
  font-weight: 400;
  src: url('./assets/font/NanumSquareNeo-bRg.ttf');
}

html {
  font-size: 14px;
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background-color: #19202e;
  // font-family: 'NanumSquareNeo-bRg';
}

.font-header {
  font-family: 'NanumSquareB' !important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  // opacity: 0.7;
  border-radius: 4px;
  // border: 3px solid red;
}
